*{
    padding: 0%;
    margin: 0cm;
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height:80px;
}
main{
    height:100px;
    background-color: orangered;
}
footer{
    height:100px;
    background-color: orange;
}